<% header "Forgot your password?" %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
<% end %>

<%= render "devise/shared/links" %>
